# Importing the Class and Testing

In [1]:
# Importing our Class object from our .py file
from ProfileHandler import createProfile
import _pickle as pickle

In [2]:
# Importing the data to use
with open("Pickles/profiles.pkl",'rb') as fp:
    data = pickle.load(fp)

In [5]:
# Creating a new profile with the current dataset
profile = createProfile(dataset=data)

In [6]:
# Testing only one function of the class
profile.enter_info()

,Bios,Movies,TV,Religion,Music,Sports,Books,Politics
6600,Prone to fits of apathy. Wannabe travel lover....,2,5,7,7,6,7,3